@use "../general/mixins";

.alert {
  &-hlf {
    @include mixins.lg {
      width: 60%;
      margin: auto;
    }
  }
  .alert-body {
    border-bottom: 1px solid aliceblue;
  }
  .alert-btn {
    a {
      width: 75%;
    }
  }

  @include mixins.lg {
    .alert-btn {
      a {
        width: 50%;
      }
    }
  }

  @include mixins.sm-mx {
    .alert-btn {
      a {
        width: 100%;
      }
    }
  }
  &.alert-danger {
    .alert-body {
      border-color: var(--bs-alert-border-color);
    }
  }
}

