@use "../config/swatch";
@use "../general/mixins";

.ancestor-ctas {
  display: flex;
  .btn {
    height: 40px;
  }

  .MuiTooltip-tooltip {
    font-weight: normal !important;
    background-color: swatch.$col-err-bg;
    color: swatch.$col-err-txt;
    border: solid 1px swatch.$col-err-bdr;
    code {
      font-weight: bold !important;
      color: swatch.$col-err-txt;
    }
    .tooltip {
      &-close {
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 9px;
        svg {
          width: 10px;
        }
      }
      &-content {
        width: 99%;
      }
    }
  }

  .btn-cancel, .btn-add {
    margin-right: 10px;
    align-content: center;
    transition-property: opacity;
    opacity: 0;
    padding: 0 10px;
    margin-top: 5px;
    display: inline-block;
    transition:  1s ease opacity;
    &.is-visible {
      opacity: 1;
      cursor: pointer;
    }
  }

  textarea {
    transition:  1s ease-in-out;
    margin-left: 10px !important;
    margin-right: 10px;
    margin-top: 5px;
    border: solid 1px #999;
    transition-property: opacity, width;
    width: 0;
    opacity: 0;
    height: 40px;
    font-size: 12px;
    padding: 3px 7px;
    font-family: monospace;
    @include mixins.md-mx {
      margin-left: 0 !important;
    }
    &.is-visible {
      width: 50%;
      opacity: 1;
      @include mixins.md-mx {
        width: 90%;
      }
    }
  }
}