.card {
  &.tooly {
    .row {
      position: relative;
      .btn {
        width: 100%;
      }
      .spinner {
        position: absolute;
        top: 10px;
        border-width: 3px;
      }
    }
  }
}

.card-body {
  padding: 0 !important;
}

.card-hover {
    &:hover {
        box-shadow:
            0 10px 20px rgba(0, 0, 0, 0.12),
            0 4px 8px rgba(0, 0, 0, 0.06);
    }
}