@use "../general/mixins";
@use "../config/swatch";

.title-badge {
  margin-top: 0;
  margin-bottom: 0;
  @include mixins.md-mx {
    font-size: 18px;
    > span {
      padding-top: 6px;
    }
  }
}

.entity-subtitle {
  font-size: 16px;
  text-decoration: none;
  .title-badge {
    margin-bottom: 5px;
  }
}

.icon-inline {
  display: inline-flex !important;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  @include mixins.md-mx {
    margin-bottom: 1em;
  }
}

.entity-body {
  background: swatch.$col-entity-grey;
  max-width: 100%;
  &.has-sidebarOpened {
    .entity-details {
      max-width: 82%;
    }
  }
  .rdt_Table {
    width: 100%;
  }
  &.has-visualizations {
    .card {
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {
  .entity-details {
    margin-top: -27px !important;
  }
}

@media screen and (max-width: 767px) {
  .entity-details {
    margin-top: 10px !important;
  }
}