@use "../general/mixins";


.form {
  &-inputInvalid {
    border-color: var(--bs-form-invalid-border-color) !important;
    * {
      color:  var(--bs-form-invalid-border-color) !important;
    }
  }
  &-group {
    position: relative;

    &.has-warning {
      input, select, textarea {
        border-color: var(--bs-warning) !important;
        background-image: none !important;

        &:focus {
          box-shadow: 0 0 0 0.25rem rgba(220, 188, 53, 0.25);
        }
      }

      &.select-group {
        .warning-icon-trigger {
          top: 5px;
          right: 20px;
        }
      }

      .warning-icon-trigger {
        position: absolute;
        top: 36px;
        right: 10px;
      }
    }
  }

  &--transfer {
    
    .destinationCollectionSelect {
      &__menu {
        p {
          small {
            color: grey;
            font-size: 10px;
          }
          margin: 0;
          padding: 0;
          line-height: 15px;

        }
    } 
       &__option--is-selected {
        p {
          small {
            color: white;
          }
        }
      }
    }
    

    .form {
      &__flexGroup {
        text-align: left;
        @include mixins.lg { 
          display: flex;
          label {
            width: 52%;
            &.form__labelWithCheck {
              width: 35%;
            }
          }
        }

        @include mixins.md-mx { 
          label {
            &.form__labelWithCheck {
              margin-right: 10px;
            }
          }
        }
      }

      &__destinationCollection {
      
        @include mixins.lg { 
          label {
            width: 34%;
          }
          &Select {
            text-align: left;
            width: 66%;
          }
        }
      }
    }
  }
}

.transparent {
  background-color: transparent !important;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .075);
}

.right-border-none {
    border-right:none !important;
    box-shadow: inset 0 1px 0 rgba(0,0,0,.075);
 }
