@use "../general/mixins";


.form {
  &-group {
    position: relative;

    &.has-warning {
      input, select, textarea {
        border-color: var(--bs-warning) !important;
        background-image: none !important;

        &:focus {
          box-shadow: 0 0 0 0.25rem rgba(220, 188, 53, 0.25);
        }
      }

      &.select-group {
        .warning-icon-trigger {
          top: 5px;
          right: 20px;
        }
      }

      .warning-icon-trigger {
        position: absolute;
        top: 36px;
        right: 10px;
      }
    }
  }

  &--transfer {
    .form {
      &__flexGroup {
        text-align: left;
        @include mixins.lg { 
          display: flex;
          label {
            width: 40%;
            &.form__labelWithCheck {
              width: 35%;
            }
          }
        }

        @include mixins.md-mx { 
          label {
            &.form__labelWithCheck {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.transparent {
  background-color: transparent !important;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .075);
}

.right-border-none {
    border-right:none !important;
    box-shadow: inset 0 1px 0 rgba(0,0,0,.075);
 }
