@use "../general/mixins";

.c-legend {
  &__item {
    &--Root {
      display: none !important;
    }
  }

  ul {
    padding-left: 0;
  }

  &--btns li {
    padding-bottom: 2px;
    margin: 3px;
  }
}

@media (max-width: 1340px) {
  .c-legend--flex {

    .c-legend__item--Help {
      margin-left: 5px !important;
    }

    ul {
      display: inherit !important;
      height: inherit !important;
      min-width: 100%;
    }

    li {
      display: inline-block;
      margin: 10px 5px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}