@use "../config/swatch";
@use "../general/mixins";

.modal {
  &--filesView {
    .c-treeView__main--inTable {
      max-height: 500px;
      overflow-y: auto;
    }
  }


  &-body {
    .sui-layout-main {
      overflow-x: auto;
    }
    .sui-layout-body__inner {
      margin-top: 20px;
    }
  }
  &-xxl {
    width: 80%;
    max-width: inherit;
    margin-left: auto;
    margin-right: auto;

    @include mixins.sm-mx {
      width: 98%;
    }
  }
  &--ctaConfirm {
    .modal-title {
      .title-text {
        position: relative;
        top: 2px;
        margin-left: 4px;
      }
    }
    &.is-error {
      .modal-content {
        color: swatch.$col-err-txt;
        background: swatch.$col-err-bg;
        border-color: swatch.$col-err-bdr;
      }
    }

    &.is-light-error {
      .modal-title, h5 {
         color: swatch.$col-err-txt;
      }
      .modal-content {
        border-color: swatch.$col-err-bdr;
      }
    }

    &.is-warning-outline {
      .modal-content {
        color: swatch.$col-warn-txt;
        border-color: swatch.$col-warn-bdr;
      }
    }
  }
  &-full {
    &.show {
      .modal-dialog {
        display: block;
        margin: 28px auto;
      }
    }
    .modal-dialog {
      max-width: 100%
    }
    .c-provenance {
      height: inherit;
      min-height: 500px !important;
    }
  }
}

