@use "../general/mixins";

.MuiContainer-root {
  @include mixins.md-mx {
    .MuiBox-root {
      text-align: center;
      > .btn {
        margin-bottom: 1rem;
      }
    }
  }
}

.MuiChip--ext {
  font-size: 0.7rem !important;
  text-align: center;
  padding-left: 5px;
}

.snPopover {
  .MuiTooltip-tooltip {
    font-family: var(--bs-font-sans-serif);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px;
    font-size: 0.8rem !important;
  }
  .MuiTooltip-arrow {
    &:after {
      content: "";
      margin: auto;
      display: block;
      width: 100%;
      height: 100%;
      background-color: white;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      top: 0;
    }
  }
  .MuiTooltip-tooltipPlacementRight {
    .MuiTooltip-arrow:after {
      transform-origin: 100% 100%;
    }
  }
  .MuiTooltip-tooltipPlacementTop {
    .MuiTooltip-arrow:after {
      transform-origin: 100% 0;
    }
  }

  .MuiTooltip-tooltipPlacementBottom {
    .MuiTooltip-arrow:after {
      transform-origin: 0 100%;
    }
  }

  .MuiTooltip-tooltipPlacementLeft {
    .MuiTooltip-arrow:after {
      transform-origin: 0 0;
    }
  }
}