@use "../general/mixins";

@include mixins.sm-mx {
  .navbar .fs-3 {
    font-size: 1.25rem !important;
  }
}

@include mixins.xsm {
  .navbar .fs-3 {
    font-size: 1.1rem !important;
  }
}

.dropdown-menu {
  text-transform: capitalize;
  .submenu {
    &.is-active {
      display: block;
    }
  }
}

.dropdown-item {
  &.is-heading {
    color: var(--bs-gray-800);
    font-size: 90%;
    &:hover {
      cursor: pointer;
      background-color: transparent;
      + .submenu {
        display: block;
      }
    }
  }
}

#nav-dropdown--user {
  + .dropdown-menu {
    left: inherit;
    right: 0;
  }
}

// Set this so tutorial overlay can be above navbar sticky
.sticky-top.navbar {
  z-index: 1000 !important;
}

.nav-link .shape:after {
  position: relative;
  top: 3px;
}

.snMenu-item {
  .MuiListItemText-root * {
    font-size: 0.9rem;
  }
  &.text-disabled {
    &:hover {
      background-color: transparent !important;
      cursor: default;
      i {
        cursor: pointer;
      }
    }
  }
}