@use "../config/swatch";

.popover {
  z-index: 10000 !important;

  .popover-body {
    word-break: break-word;
  }

  &-clipboard {
    &-pc {
      &:hover {
        svg {
          fill: var(--bs-link-hover-color)
        }
      }
    }
  }

  &.is-error {
    color: swatch.$col-err-txt;
    background: swatch.$col-err-bg;
    border-color: swatch.$col-err-bdr;

    .popover-body {
      color: swatch.$col-err-txt;
    }

    .popover-arrow:after {
      border-right-color: swatch.$col-err-bdr;
    }
  }
}


.error-popover {
  max-width: 700px;
  //1 less than the navbar
  z-index: 1019 !important;
}