@use "../general/mixins";

.smcFlex {
  align-items: stretch;
  .card {
    min-height: 90%;
  }
  .smcHolder:nth-child(odd) {
    @include mixins.md {
      padding-right: 10px;
    }
  }
}
.smcHolder {

  &__footer {
    .col {
      @media (max-width: 1310px) {
        width: 100%;
        flex: none;
        margin-top: .4em;
      }
    }
    &--lgQtr {
      .col {
        width: 100%;
      }
      @media (min-width: 1200px) {
        width: 50%;
      }
      @media (min-width: 990px) {
        .col {
          width: 50%;
        }
      }
    }
  }

  .fs-7 {
    font-size: .7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mixins.sm-mx {
      font-size: .9rem;
    }
    @include mixins.xlg {
      font-size: .9rem;
    }
  }

  @include mixins.lg {
    flex: 0 0 auto;
  }

  @include mixins.md {
    width: 50%;
    padding: 0;
  }

  @include mixins.xsm {
    padding: 0;
  }

  &--left {
    padding-left: 0;
    &.smcHolder--hasSib {
      padding-right: calc(var(--bs-gutter-x) * 0.2);
      @include mixins.xsm {
        padding: 0;
      }
    }
  }

  &--hasHover {
    cursor: pointer;
  }

  &--w-sm-50 {
    @include mixins.sm {
      width: 50%;
      padding: 0;
    }
  }

  &--right {
    padding-right: 0;
    &.smcHolder--hasSib {
      padding-left: calc(var(--bs-gutter-x) * 0.2);
      @include mixins.xsm {
        padding: 0;
      }
    }
  }

  &--innerLeft {
    @include mixins.lg {
      padding-left: calc(var(--bs-gutter-x) * 0.2);
    }
  }

  &--innerRight {
    @include mixins.lg {
      padding-right: calc(var(--bs-gutter-x) * 0.2);
    }
  }

}


.smc--highlighted {
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 2px !important;
  &.is-paused {
    &::before {
      content: none;
    }
  }
}
.smc--highlighted::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: conic-gradient(#ebb5c8, #ffff00, #a556d9, #5f1eec, #e379f4, #eb75eb, #b819b8);
  background-size: 200% 200%; 
  border-radius: inherit;
  z-index: -1; 
  animation: border-spin 4s linear infinite; 
}

@keyframes border-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

