@use "../general/mixins";

.snStat {
  width: calc(100%/2);
  cursor: pointer;
  flex: none;

  @include mixins.lg {
    width: calc(100%/6);
  }

  @include mixins.md-xlg-mx {
    width: calc(100%/3);
  }

  &__num {
    display: block;
  }
  .row {
    flex: 1;
    > div {
      padding: 0;
    }
    .col-lg-8 {
      @include mixins.lg {
        text-align: left;
      }
    }
  }
  .shape {
    &:after {
      margin-top:10px;
    }
    &.shape--diamond:after {
      width: 60px;
      height: 60px;
      margin-top:15px;
    }
    &.shape--circle:after {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }

  .shape-name {
    display: none;
  }
}

.snStatRow {
  width: 97vw;
  @include mixins.md-mx {
    text-align: center;
  }
  @include mixins.lg {
    padding: 1em;
  }
}

.snLanding {
  width: 100vw;
  &.sui-layout {
    .sui-layout-body__inner {
      width: 100%;
      > .card {
        width: 100%;
      }
    }
  }
}