@use "../config/swatch";

.table {
  &__cellFiles {
    max-height: 100px;
    overflow-y: auto !important;
  }
  &__chips {

    .MuiChip-outlined {
      display: inline-block;
      height: 24px;
      margin: 2px;
    }

    .MuiChip-label {
      span {
        color: swatch.$col-bs-blue;
      }
    }
  }
  &--derivedDataset {
    max-height: 300px;
    overflow: auto;
  }
  &-responsive {
    &.has-error {
      border: solid 1px swatch.$col-err-bdr;
      .rdt_TableCell > div {
        white-space: inherit;
        padding: 0.5em 0;
      }
      code {
        font-weight: bold;
        color: swatch.$col-err-txt;
      }
      .rdt_TableBody * {
        background-color: swatch.$col-err-bg2;
      }
      .rdt_TableHeadRow *, .rdt_Pagination * {
        background-color: white;
      }
    }
  }
}