@use "../config/swatch";

.Toastify .Toastify__toast {
  &--info {
    .Toastify {
      &__progress-bar {
        background: swatch.$col-bs-blue;
      }
      &__toast-icon {
        svg {
          fill: swatch.$col-bs-blue;
        }
      }
    }
  }
  &--success {
    .Toastify {
      &__progress-bar {
        background: swatch.$col-bs-blue;
      }
      &__toast-icon {
        svg {
          fill: swatch.$col-bs-blue;
        }
      }
    }
  }
  &--error {
    color: swatch.$col-err-txt;
    background: swatch.$col-err-bg;
    border-color: swatch.$col-err-bdr;
    .Toastify {
      &__progress-bar {
        background: swatch.$col-err-txt;
      }
      &__toast-icon {
        svg {
          fill: swatch.$col-err-txt
        }
      }
    }
  }
}

.Toastify__toast-container--top-left:has(.Toastify__toast-center-left) {
  top: 50% !important;
}

