
.c-visualizations__dropdownContainer {
	display: flex;
}
.c-visualizations__columnDropdown {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.c-visualizations__chartDropdown {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.c-visualizations__tooltip {
	background-color: #fff;
	border: solid $col-trout 1px;
	position: absolute;
	border-radius: 5px;
	padding: 5px;
	z-index: 1000;
	font-size: 12px;
	width: max-content;
}
.c-visualizations__chart {
	overflow-x: auto;
	position: relative;
	circle {
		cursor: pointer;
	}
}
.c-visualizations__miniCharts {
	.c-visualizations__chart {
		overflow-x: inherit;
	}
	svg {
		max-width: 100%;
		height: auto;
	}
}
