@mixin visualization-tooltipArrow() {
  background: none;
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid transparent; 
	border-top-color: white;
	top: 22px; 
	left: 1px;
	transform: translateX(-50%);
}

.c-visualizations__dropdownContainer {
	display: flex;
}
.c-visualizations__columnDropdown {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.c-visualizations__chartDropdown {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.c-visualizations__tooltip, .c-visualizations__highlight {
	background-color: #fff;
	border: solid #eee 1px;
	position: absolute;
	border-radius: 5px;
	padding: 5px;
	z-index: 1000;
	font-size: 12px;
	width: max-content;
}
.c-visualizations__highlight {
		color: var(--bs-warning-text-emphasis);
    background-color: var(--bs-warning-bg-subtle);
    border: var(--bs-warning-border-subtle);
		z-index: 0;
	
	em {
		color: var(--bs-warning-text-emphasis);
		position: relative;
		&:after {
			@include visualization-tooltipArrow();
			border-top-color: var(--bs-warning-border-subtle);
		}
	}
}
.c-visualizations__chart {
	overflow-x: auto;
	position: relative;
	circle {
		cursor: pointer;
	}
}
.c-visualizations__miniCharts {
	.c-visualizations__chart {
		overflow-x: inherit;
	}
	svg {
		max-width: 100%;
		height: auto;
	}
}

.c-visualizations {
	&__tooltip--multiLine {
		span {
			display: block;
		}
	}
	&--tooltipHasArrow {
		.c-visualizations__tooltip {
			span {
				color: var(--bs-warning-text-emphasis);
				position: relative;
				&:after {
					@include visualization-tooltipArrow();
				}
			}
		}
	}
	.g--highlight {
		fill: limegreen;
		rect {
			filter: drop-shadow(4px 4px 8px rgba(66, 208, 19, 0.5));
		} 
	}
	&--boxShadow {
		rect:hover {
			filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
		} 
		g:hover {
			cursor: pointer;
		}
	}
	&--noAxis {
		.x-axis, .y-axis {
			display: none;
		}
		
	}
}
