.bg--navBarGrey {
  background-color: #505250;
}

.bg--entityWhite {
  background-color: #fcfcfc;
}

.bg--lightGrey {
  background-color: #eee !important;
}

.bg--none {
  background: none !important;
}