@use "mixins";

// Utility margin/padding classes here


.mt-resp {
  @include mixins.lg {
    margin-top: 5rem;
  }
}

.mt-2-sm {
  @include mixins.sm-mx {
    margin-top: 1rem;
  }
}

.pl-0 {
  padding-left: 0 !important;
}